<div>
  <a [routerLink]="['/about']" routerLinkActive="active-link">About</a>
  <a [routerLink]="['/brewery']" routerLinkActive="active-link">Brewery</a>
  <a [routerLink]="['/distill']" routerLinkActive="active-link">Distillery</a>
  <a [routerLink]="['/contact']" routerLinkActive="active-link">Contact</a>
</div>

<router-outlet></router-outlet>

<div>
  <img src="facebook.jpg" alt="Facebook">
  <img src="twittter.jpg" alt="Twitter">
  <img src="instagram.jpg" alt="Instagram">
  <p>Physical Adrress, LaVista, NE 68999</p>
</div>